/Exercícios/Listas/Exer_Aula13_Loiane/nbproject/private/
/Exercícios/Listas/Exer_Aula13_Loiane/build/
/Exercícios/Listas/Exercicios_Aula13_Loiane/nbproject/private/
/Exercícios/Listas/Exercicios_Aula13_Loiane/build/
/Exercícios/Listas/Lista Geral/Lista_Geral/nbproject/private/